body {
  background-color: #333333;
  margin: 0;
  padding: 0;
  color: #cccccc;
}
#header {
  text-align: center;
  padding: 10px 10px 0 0;
  font-size: 40px;
  line-height: 48px;
  background-color: #666666;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 70px;
}
#header img {
  display: inline;
  vertical-align: text-top;
}
#header > a {
  float: right;
}
#verdict {
  padding: 5px 5px 5px 40px;
  background-image: url(img/none.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px center;
  position: fixed;
  left: 0;
  top: 70px;
  right: 0;
  background-color: #333333;
}
#details {
  margin-top: 110px;
  margin-bottom: 30px;
  max-height: 459px;
  overflow: scroll;
}
#details > div {
  margin: 2px 5px;
  width: 190px;
  white-space: nowrap;
  overflow: scroll;
  color: #cccccc;
  border-top: 1px solid #7777ff;
  text-decoration: none;
}
#details > div::-webkit-scrollbar {
  display: none;
}
#options {
  padding: 5px;
  background-color: #666666;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 20px;
  text-align: center;
}
#options > span:first-child {
  float: left;
}
#options > span:last-child {
  float: right;
}
td {
  padding: 2px 5px;
}
