:root {
  --main-header-height: 48px;
  --options-panel-width: 300px;
  --gray-dark-color: #BCBCBC;
  --gray-light-color: #F0EEEE;
  --highlight-color: #8E2222;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: calc(100% - var(--main-header-height));
  padding: 1rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 
  ------------
  HEADER STYLE
  ------------
*/

#main-header {
  padding: .7rem 1rem;
  background-color: var(--gray-dark-color);
  height: var(--main-header-height);
  display: flex;
  align-items: center;

}

.logo {
  width: var(--main-header-height);
  display: flex;
}

.logo img {
  width: 100%;
}


#main-header .title {
  font-size: calc(0.7 * var(--main-header-height));
  margin-left: .5rem;
}

/* 
  --------------
  CONTROLS STYLE
  --------------
*/
#controls {
  /* background: pink; */
  margin-bottom: 1rem;
}

#controls p {
  margin: 0;
  margin-bottom: .5rem;
}

#controls input {
  box-sizing: border-box;
  width: calc(0.5 * (100% - var(--options-panel-width)));
  max-width: 480px;
  background: var(--gray-light-color);
  border: 1px solid transparent;
  border-radius: 2px;
  margin-top: .75rem; 
  padding: .3rem .5rem;
  outline: none;
}


#controls input:focus {
  border: 1px solid var(--highlight-color)
}

#controls input:nth-of-type(1) {
  margin-top: 0;
}


/* 
  --------------
  INSPECTOR STYLE
  --------------
*/

#inspector {
  /* background: greenyellow; */
  display: flex;
  /* background: blueviolet; */
  flex: 1;
  height: calc(100% - 120px);
}

#content {
  box-sizing: border-box;
  border: 1px solid var(--gray-dark-color);
  width: calc(100% - var(--options-panel-width));
}
#options {
  width: var(--options-panel-width);
  background: var(--gray-light-color);
  display: flex;
  flex-direction: column;
}

#options header {
  /* background: blue; */
  display: flex;
}


#options section {
  height: 100%;
}

.option {
  width: 33%;
  height: 1.5rem;
  margin: 0;
  background: var(--gray-light-color);
  border: 1px solid white;
  border: none;
  color: #888;
  cursor: pointer;
  outline: none;
}



.option.active {
  background-color: var(--highlight-color);
  color: #fff;
  border-color: #888;
}
.tab {
  display: none;
  padding: 5px;
  overflow: auto;
  height: 100%
}
.tab.active {
  display: block;
}

#helpTab {
  background-color: #fff;
}

#helpTab iframe {
  box-sizing: border-box;
  border: none;
  height: 100%;
}

summary {
  overflow-x: scroll;
  white-space: nowrap;
}
summary.blocked {
  color: #ff6666;
}
summary::-webkit-scrollbar {
  display: none;
}
li.gagged {
  color: #666699;
}
